<!DOCTYPE html>
<html lang="pt-br" >
<head>
  <meta charset="UTF-8">
  <title>Trabalhando com Bootstrap</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css'><link rel="stylesheet" href="css/index.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- Start Landing Page -->
      <div class="landing-page">
        <header>
          <div class="container">
            <a href="#" class="logo">Bulls <b>Steel</b></a>
            <ul class="links">
              <li>Início</li>
              <li>Sobre nós</li>
              <li>Trabalhar</li>
              <li>Informações</li>
              <li>Iniciar</li>
            </ul>
          </div>
        </header>
        <div class="content">
          <div class="container">
            <div class="info">
              <h1>Procurando inspiração</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam nesciunt quidem iste, Repellendus odit nihil</p>
              <button>Botão</button>
            </div>
            <div class="image">
              <img src="assets/Bulls_Steel_Imagem.jpeg">
            </div>
          </div>
        </div>
      </div>
      <!-- End Landing Page -->
<!-- partial -->
  
</body>
</html>
